body {
    background-color: rgb(200, 200, 200);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    margin-top: 70px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Home page */
.centerPanel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding-top: 20px;
    width: 75%;
    height: 500px;
    overflow: hidden;
}
.leftSide {
    width: 50%;
    float: left;
    margin-left: 3%;
}
.rightSide {
    width: 40%;
    float: right;
    margin-right: 3%;
}
img {
    width: 95%;
}

/* Add Content page */
.title {
    margin-left: 50px;
}
.addMessageLeftSide {
    width: 20%;
    height: 100%;
    float: left;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 3%;
    padding-left: 50px;
}
.addMessageRightSide {
    width: 60%;
    float: right;
    margin-right: 3%;
}